html {
  height: 100%;
}

body {
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Open Sans";
      min-height: 100%;
}

.navbar-brand {
    background: url(/Images/logo.png) no-repeat;
    background-size: 160px 50px;
    height: 50px;
    margin: center;
    width: 160px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: #404040;
    width: 100%;
    text-align: center;
    color: #fff;

}
