
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>

@*manager control panel*@
<br/><form action="/Manager/ViewUsers">
    <input class="btn btn-default" type="submit" value="View users list" />
</form>
<br />
<form action="/Manager/Shops_view">
    <input class="btn btn-default" type="submit" value="View / add shops" />
</form>