@Styles.Render("~/Content/about.css")


@{
    ViewBag.Title = "About";
}
<br/><br />
<img src="/Images/about_us.jpg"
     style="vertical-align: middle;
    min-width:100%;
    height: 350px;
    object-fit: cover;">

<div class="about-us">
    <article style="width: 100%;">
        <h2>About Fitness Empire</h2>

        <p><strong>Fitness Empire is the largest chain of sporting goods stores in Israel.</strong> The only place where more than 30,000 sports goods for all sports could be found among more than 100 worldwide brands. The extraordinary diversity and the best costs of sports goods in Israel make our stores the most favorite place for everyone when it is about buying sports goods.</p>
        <p><span lang="en-US">In Fitness Empire we will turn your </span><span lang="en-US">shopping experience fun</span><span lang="en-US"> and we guarantee </span><span lang="en-US">a </span><span lang="en-US">100% emotion! We are a part of one of the </span><span lang="en-US">largest </span><span lang="en-US">sport</span><span lang="en-US">s</span><span lang="en-US"> chains in Europe-SPORT 2000.</span><span lang="en-US"><br /></span></p>
    </article>
    <article>
        <h2>Our philosophy is simple.</h2>
        <p>            

            Over the last decades, people and their attitudes to sport have changed – and Fitness Empire is changing with them.

           <br /><br /> Fitness Empire’s brand message “Sport to the People” expresses simply and emotionally the essence of Fitness Empire.

            The more you enjoy doing something, the more you do it. We help you choose the equipment that will give you maximum enjoyment.
        <br /><br />
           <b>That is how Fitness Empire brings Sport to the People.</b> 
.</p>

    </article>

    <aside>

        <ul>
            <li>
                <h3>
                    <span>27+</span>
                    <span>Years of Service</span>
                </h3>
            </li>
            <li>
                <h3>
                    <span>500+</span>
                    <span>Projects Implemented</span>
                </h3>
            </li>
            <li>
                <h3>
                    <span>1M+</span>
                    <span>Costumers Served</span>
                </h3>
            </li>
        </ul>

    </aside>

</div>

